cupy-cuda12x >=13.4.0
matplotlib
numpy >= 2.0
PyQt6
scipy
tifffile
PyYAML

magtrack @ git+https://github.com/7jameslondon/MagTrack

# egrabber[egrabber] @ ./egrabber-24.01.2.71-py2.py3-none-any.whl
# harvesters[Harvesters]
# PIPython[PI]
# zaber_motion[Zaber]